<div class="main">
    <div class="chat">
       <div class="flame">
           <div class="flame2">
               <div class="flame3">
                   <p><span class="font_test">test</span>
                    <span class="date">2020/08/03(mon)</span></p>
                    
                   <p class="honbun">ああああああああああああああああああ</p>
               </div>

               <div class="flame4">
                   <ul>
                       <li><a href="#">edit</a></li>
                       <li><a href="#">delete</a></li>
                   </ul>
               </div>
            </div>    
       </div>

      

    </div>
    
 <div class="chat-form">
     <form>
         <input type="text">
         <input type="submit" value="SEND"> 
    </form>

 </div>
</div>